:root {
  /* Heyday Sans Color Palette */
  --color-cream: #F5F4E8;
  --color-olive-dark: #4A5D23;
  --color-olive-medium: #556B2F;
  --color-orange: #FF8C42;
  --color-orange-dark: #E6772E;
  --color-text-dark: #2C3E1F;
  --color-text-light: #F5F4E8;
  --color-bg-light: #FAF9F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-cream);
  color: var(--color-olive-dark);
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

